
{% extends 'base.html' %}

{% block content %}

  
 <div>
  <h1>About Us</h1>
  <p>The world unfolds in moments, a tapestry woven from the threads of our daily routines. But within these routines lies a hidden power, the potential to sculpt the life we desire. Here, at your Habit Hub, we invite you to become the artist of your own existence.</p>

  <p>Imagine this space as your personal studio, a place to strategize, refine, and ultimately master the art of habit. Each habit, a brushstroke, adding color and definition to your canvas. We believe that even the smallest, most consistent actions can lead to remarkable transformations.</p>

  <p>Don't be daunted by the blank canvas. We'll be your guide, your cheerleader, and your accountability partner. Our user-friendly interface allows you to effortlessly add habits, track your progress, and celebrate those oh-so-satisfying milestones.</p>


   
</div>

{% endblock %}
