{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
  <h1>Add Habit</h1>
  <br>
  <form method="POST" action="{% url 'add_habit' %}">
    {% csrf_token %}
     
    {{ form.name }}
    {{ form.category }}
    {{ form.description }}
    {{ form.start_date }}
    {{ form.frequency }}
    

<br>
 <form>
    <div class="radio-container">
      {{ form.habit_type }}
    </div>
  </form>
<br>
<div class="checkbox-container">
  {{ form.completed}}
</div>
<br>
<br>
<br>
<br>
<br>
    <button type="submit" class="btn btn-secondary">Add Habit</button>
    <a href="{% url 'myhabit' %}" class="btn btn-secondary">Back</a>
  </form>
</div>

{% endblock %}
