
{% extends 'base.html' %}

{% block content %}

  {% if user.is_authenticated %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">Frequency</th>
        <th scope="col">Habit Type</th>
        
      </tr>
    </thead>
    <tbody>
     
        {%if habits %}
        {% for habit in habits %}
         <tr>
            <td><a href="{% url 'habit' habit.id %}" >{{habit.id}}</a></td>
            <td>{{habit.name}}</td>
            <td>{{habit.description}}</td>
            <td>{{habit.start_date}}</td>
            <td>{{habit.frequency}}</td>
            <td>{{habit.habit_type}}</td>
            
          </tr>
        {% endfor %}
      {% endif %}
      </tr>
    </tbody>
  </table>

  
{% endif %}
{% endblock %}
