
{% extends 'base.html' %}

{% block content %}

  {% if user.is_authenticated %}

  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr class="table-secondary">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">Frequency</th>
        <th scope="col">Habit Type</th>
        <th scope="col">Status</th>
       
        
      </tr>
    </thead> 
    <tbody>
     
        {%if habits %}
        {% for habit in habits %}
         <tr>
            <td><a href="{% url 'habit' habit.id %}" >{{habit.id}}</a></td>
            <td>{{habit.name}}</td>
            <td>{{habit.category}}</td>
            <td>{{habit.description}}</td>
            <td>{{habit.start_date}}</td>
            <td>{{habit.frequency}}</td>
            <td>{{habit.habit_type}}</td>
    
            <td>{% if habit.completed %}
                  <span style="color: green;">Completed</span>
                {% else %}
                  <button class="complete-habit" data-habit-id="{{ habit.id }}">Mark as Completed</button>
                {% endif %}

              </td>
            <!-- Example HTML to mark a habit as completed 
            <td><button class="complete-habit" data-habit-id="{{ habit.id }}">Mark as Completed</button></td>-->
            
          </tr>
        {% endfor %}
      {% endif %}
      </tr>
    </tbody>
  </table>

  
{% endif %}
{% endblock %}
