{% extends 'base.html' %}

{% block content %}<div class="card">
  <h5 class="card-header">{{habit_record.name}}</h5>
  <div class="card-body">
    <p class="card-text">
      {{habit_record.category}}</p>
    <p class="card-text">{{habit_record.description}}</p>
    <p class="card-text">{{habit_record.start_date}}</p>
    <p class="card-text">{{habit_record.frequency}}</p>
    

  {% for habit in habits %}
  <div>
    <span>{{ habit.name }}</span>
    {% if habit.completed %}
      <span style="color: green;">Completed</span>
    {% else %}
      <button class="complete-habit" data-habit-id="{{ habit.id }}">Mark as Completed</button>
    {% endif %}
  </div>
  {% endfor %}

</div>
</div>

<br><br>

<div col-md-6 offset-md-3>
  <a href="{% url 'myhabit' %}" class="btn btn-secondary">Back</a>
  <a href="{% url 'delete_habit' habit_record.id %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'update_habit' habit_record.id %}" class="btn btn-secondary">Update Habit</a>
</div>

{% endblock %}
