{% extends 'base.html' %}

{% block content %}<div class="card">
  <h5 class="card-header">{{habit_record.name}}</h5>
  <div class="card-body">
    <p class="card-text">
      {{habit_record.description}}</br>
      {{habit_record.start_date}}</br>
      {{habit_record.frequency}}</br>
      {{habit_record.habit_type}}</br>
      {{habit.id}}
    </p>
    
  </div>
</div>
<br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_habit' habit_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_habit' habit_record.id %}" class="btn btn-secondary">Update Habit</a>
{% endblock %}
